<a href="https://colab.research.google.com/github/kevinalgazali1/TugasPDS/blob/main/Tugas1PDS_H071221060_Kevin_Al_Gazali.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.66.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.0.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.0.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [ ]:
!mkdir ~/.kaggle

In [ ]:
!cp kaggle.json ~/.kaggle/

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets list -s Iris

ref                                                        title                                              size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
uciml/iris                                                 Iris Species                                        4KB  2016-09-27 07:38:05         434332       3445  0.7941176
arshid/iris-flower-dataset                                 Iris Flower Dataset                               1010B  2018-03-22 15:18:06         112241        709  0.8235294
himanshunakrani/iris-dataset                               Iris dataset                                      1006B  2022-07-20 18:50:06           7082         56  1.0
vikrishnan/iris-dataset                                    Iris Dataset                                       999B  2017-08-03 16:00:44          18029         79  0.7647059
parulpandey/palmer-archipelago-antarctica-penguin-data     Palmer Archipelago (Antarctica) penguin data       11KB  2020-06-09 10:14:54          53880        439  0.9705882
chuckyin/iris-datasets                                     Iris datasets                                       1KB  2017-03-10 09:35:43           2956         22  0.7352941
jillanisofttech/iris-dataset-uci                           Iris dataset uci                                    1KB  2021-11-06 15:11:47            837         35  1.0
rtatman/iris-dataset-json-version                          Iris Dataset (JSON Version)                         1KB  2018-04-06 20:21:31          14434         77  0.75
therohk/ireland-historical-news                            Irish Times - Waxy-Wany News                       52MB  2021-09-25 10:52:48           3425        161  1.0
vijayaadithyanvg/iris-dataset                              IRIS DATASET                                      1023B  2023-01-14 07:44:53            702         29  1.0
arslanali4343/iris-species                                 Iris Species                                        2KB  2020-07-02 06:09:09            259         77  0.5625
jeffheaton/iris-computer-vision                            Iris Computer Vision                                5MB  2020-11-24 21:23:29           1531         21  0.875
saurabh00007/iriscsv                                       Iris.csv                                            1KB  2017-11-09 07:34:35          80131        153  0.4117647
fleanend/birds-songs-numeric-dataset                       Birds' Songs Numeric Dataset                       25MB  2019-04-01 09:09:46           1841         34  0.9411765
conorrot/irish-weather-hourly-data                         Irish Weather (hourly data)                        67MB  2020-06-29 20:15:18           2797         49  0.8235294
sims22/irisflowerdatasets                                  IRIS-FLOWER-DATASETS                                2KB  2022-12-26 18:33:34            912         21  0.9411765
naureenmohammad/mmu-iris-dataset                           MMU iris dataset                                   30MB  2020-07-25 18:38:33           2648         48  0.625
kamrankausar/iris-data                                     iris_data                                           1KB  2017-11-30 10:26:01           1825         22  0.64705884
ashkhagan/palmer-penguins-datasetalternative-iris-dataset  Palmer Penguins Dataset-Alternative Iris Dataset    3KB  2020-06-30 06:30:43           2163         21  0.8235294
styven/iris-dataset                                        Iris dataset                                        1KB  2017-11-04 14:10:12           1020          8  0.29411766

In [ ]:
!kaggle datasets download uciml/iris --unzip

Downloading iris.zip to /content
  0% 0.00/3.60k [00:00<?, ?B/s]
100% 3.60k/3.60k [00:00<00:00, 6.24MB/s]

In [ ]:
#Latihan(2)
#Import Library Pandas
import pandas as pd
#Import Library Numpy
import numpy as np

In [ ]:
#latihan(3)
#Panggil file (load file bernama Iris.csv) dan simpan dalam dataframe Lalu tampilkan 5 baris awal dataset dengan function head()
df = pd.read_csv("/content/Iris.csv")

df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
#latihan(4)
#Tampilkan tipe data dari kolom yang ada pada dataset
print(df.dtypes)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
#Latihan (5)
#Tipe Data dari kolom yang ada di dataset

#Kolom  "Id" memiliki tipe data =  <int64>
#Kolom "SepalLengthCm" memiliki tipe data =  <float64>
#Kolom "Species" memiliki tipe data =  <object>

In [ ]:
#Latihan (6)
#Hitung ukuran (jumlah baris dan kolom) dari dataset
total_baris, total_kolom = df.shape

print(f"total baris: {total_baris}")
print(f"total kolom: {total_kolom}")

total baris: 150
total kolom: 6

In [ ]:
#Latihan (7)

#total Baris pada dataset adalah =  <150>

#total kolom pada dataset adalah =  <6>

In [ ]:
#Latihan (8)
#Tampilkan data untuk kolom "Id" dan kolom "Species" dalam bentuk dataframe
kolom = df[["Id", "Species"]]
print(kolom)

      Id         Species
0      1     Iris-setosa
1      2     Iris-setosa
2      3     Iris-setosa
3      4     Iris-setosa
4      5     Iris-setosa
..   ...             ...
145  146  Iris-virginica
146  147  Iris-virginica
147  148  Iris-virginica
148  149  Iris-virginica
149  150  Iris-virginica

[150 rows x 2 columns]

In [ ]:
#Latihan (9)
#Tampilkan data dengan dataframe, dan data yang ditampilkan adalah baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)
baris = df.iloc[0:10]
print(baris)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [ ]:
#Latihan (10)
#Tampilkan data hanya kolom "Id" dan kolom "Species", pada baris dengan indeks 0 (nol) sampai dengan indeks 9 (sembilan)
data = df.loc[0:9, ["Id", "Species"]]
print(data)

   Id      Species
0   1  Iris-setosa
1   2  Iris-setosa
2   3  Iris-setosa
3   4  Iris-setosa
4   5  Iris-setosa
5   6  Iris-setosa
6   7  Iris-setosa
7   8  Iris-setosa
8   9  Iris-setosa
9  10  Iris-setosa

In [ ]:
#Latihan (11)
#Tampilkan data pada 8 (delapan) baris pertama dari dataset, dengan dataframe
data_8_baris_pertamaa = df.head(8)
print(data_8_baris_pertamaa)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [ ]:
#Latihan (12)
#Tampilkan data pada 3 (tiga) baris terakhir dari dataset, dengan dataframe
last_3_row = df.tail(3)
print(last_3_row)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [ ]:
#Latihan (13)
#Hitung korelasi dataset
hitung = df.corr(numeric_only=True)
print(hitung)

                     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Id             1.000000       0.716676     -0.397729       0.882747
SepalLengthCm  0.716676       1.000000     -0.109369       0.871754
SepalWidthCm  -0.397729      -0.109369      1.000000      -0.420516
PetalLengthCm  0.882747       0.871754     -0.420516       1.000000
PetalWidthCm   0.899759       0.817954     -0.356544       0.962757

               PetalWidthCm
Id                 0.899759
SepalLengthCm      0.817954
SepalWidthCm      -0.356544
PetalLengthCm      0.962757
PetalWidthCm       1.000000

In [ ]:
#latihan (14)
#Simpulan Sementara Hasil Korelasi di latihan (13)

#Kesimpulannya, Secara keseluruhan, analisis korelasi mengindikasikan adanya keterkaitan yang positif yang kuat antara "PetalLengthCm" dan "PetalWidthCm", serta keterkaitan yang signifikan antara "SepalLengthCm" dan "PetalLengthCm". Di sisi lain, "SepalWidthCm" menunjukkan keterkaitan negatif yang lemah dengan beberapa variabel lainnya. Namun, perlu diingat bahwa korelasi hanya mengukur hubungan statistik dan tidak mengimplikasikan sebab-akibat. Oleh karena itu, temuan ini memberikan wawasan tentang bagaimana variabel dalam dataset saling terkait, tetapi tidak dapat menjelaskan penyebab di balik hubungan tersebut.

In [ ]:
#Latihan (15)
#Hitung korelasi dataset untuk kolom PetalLengthCm, PetalWidthCm
korelasi = df['PetalLengthCm'].corr(df['PetalWidthCm'])
print(f"Korelasinya PetalLengthCm dan PetalWidthCm: {korelasi}")

Korelasinya PetalLengthCm dan PetalWidthCm: 0.9627570970509663

In [ ]:
#Latihan (16)
# Penggunaan Metode describe untuk komputasi statistik
a = df.describe()
print(a)

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
#Latihan (17)
#Gunakan method describe pada dataset yang sudah di load untuk data bertype objek
deskripsiObjek = df.describe(include='object')
print(deskripsiObjek)

            Species
count           150
unique            3
top     Iris-setosa
freq             50

In [ ]:
#Latihan (18)
#Gunakan method describe pada dataset yang sudah di load untuk semua type data
deskripsi = df.describe(include='all')
print(deskripsi)

                Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
count   150.000000     150.000000    150.000000     150.000000    150.000000
unique         NaN            NaN           NaN            NaN           NaN
top            NaN            NaN           NaN            NaN           NaN
freq           NaN            NaN           NaN            NaN           NaN
mean     75.500000       5.843333      3.054000       3.758667      1.198667
std      43.445368       0.828066      0.433594       1.764420      0.763161
min       1.000000       4.300000      2.000000       1.000000      0.100000
25%      38.250000       5.100000      2.800000       1.600000      0.300000
50%      75.500000       5.800000      3.000000       4.350000      1.300000
75%     112.750000       6.400000      3.300000       5.100000      1.800000
max     150.000000       7.900000      4.400000       6.900000      2.500000

            Species
count           150
unique            3
top     Iris-setosa
freq             50
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

In [ ]:
#Latihan (19)
#Hitung nilai Mean dari dataset
mean = df.mean(numeric_only=True)
print(mean)

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [ ]:
#Latihan (20)
#Hitung nilai Mean untuk kolom PetalLengthCm
meann = df['PetalLengthCm'].mean()
print("Mean untuk kolom PetalLengthCm:", meann)

Mean untuk kolom PetalLengthCm: 3.758666666666666

In [ ]:
#Latihan (21)
#Cari nilai minimal untuk kolom SepalWidthCm
min = df['SepalWidthCm'].min()
print("Nilai minimal untuk kolom SepalWidthCm:", min)

Nilai minimal untuk kolom SepalWidthCm: 2.0

In [ ]:
#Latihan (22)
#Hitung nilai mean dari dataset untuk SepalLengthCm per Species dengan metode groupby
meannn = df.groupby('Species')['SepalLengthCm'].mean()
print(meannn)

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [ ]:
#Latihan (23)
#Hitung frekuensi pada kolom 'Species' dengan menggunakan metode value_counts()
frekuensi = df['Species'].value_counts()
print(frekuensi)

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
#Latihan (24)
#Perhitungan frekuensi pada kolom 'Species' dengan menggunakan metode value_counts() dalam bentuk dataframe
frekuensi_species_df = pd.DataFrame(df['Species'].value_counts()).reset_index()
frekuensi_species_df.columns = ['Species', 'Frekuensi']
print(frekuensi_species_df)

           Species  Frekuensi
0      Iris-setosa         50
1  Iris-versicolor         50
2   Iris-virginica         50

In [ ]:
#Latihan (25)
# Hitung frekuensi pada kolom 'PetalLenghCm' dengan menggunakan metode value_counts()
frekuensi_petal_length_df = pd.DataFrame(df['PetalLengthCm'].value_counts()).reset_index()
frekuensi_petal_length_df.columns = ['PetalLengthCm', 'Frekuensi']
print(frekuensi_petal_length_df)

    PetalLengthCm  Frekuensi
0             1.5         14
1             1.4         12
2             5.1          8
3             4.5          8
4             1.6          7
5             1.3          7
6             5.6          6
7             4.7          5
8             4.9          5
9             4.0          5
10            4.2          4
11            5.0          4
12            4.4          4
13            4.8          4
14            1.7          4
15            3.9          3
16            4.6          3
17            5.7          3
18            4.1          3
19            5.5          3
20            6.1          3
21            5.8          3
22            3.3          2
23            5.4          2
24            6.7          2
25            5.3          2
26            5.9          2
27            6.0          2
28            1.2          2
29            4.3          2
30            1.9          2
31            3.5          2
32            5.2          2
33            3.0          1
34            1.1          1
35            3.7          1
36            3.8          1
37            6.6          1
38            6.3          1
39            1.0          1
40            6.9          1
41            3.6          1
42            6.4          1